.container {
    padding: 1rem;
}

.h2, .p {
    color: white;
    text-align: center;
}

.bg {
    background-color: #4753fe;
}

.accordion {
    background-color: #4753fe;
    color: white;
}

@media (min-width: 426px) {
    .h2, .p {
        margin-bottom: 2rem;
    }
}

